.sidebar__option{
    display:flex;
    align-items: center;
    padding:10px;
    cursor: pointer;
}
.sidebar__option:hover{
    background-color: lightgray;
    border-radius:10px;
}
.sidebar__option>h4{
margin-left: 20px;
font-weight: 600;
}
.sidebar__option>.MuiSvgIcon-root{
    font-size: xx-large;
    color:#2e81f4;
}
