.message{
    
    padding:10px;
    margin:10px;
    width:fit-content;
    
}
.message_user{
margin:left;
color:white;
text-align: left;
}

.message_userCard{
    background-color: blue;
}

.message_guestCard{
    background-color:white;
}